body{
    h1{
        font-family: "Exo 2", sans-serif;
        font-optical-sizing: auto;
        font-weight: 900;
        font-size:100px;
        font-style: normal;
        margin-top:4.5%;
        margin-left:35%;
    }

    p {
        font-family:"Exo 2", sans-serif;
        font-weight:700;
        font-size: 50px;
        margin-left:35.5%;
        margin-top:-3%;
        color:rgb(4, 121, 175);
        line-height:1.5;
    }

    .sidebar {
        height: 100%;
        width: 30%;
        position: fixed;
        left: 0;
        top: 0;
        font-family: "Exo 2", sans-serif;
        font-weight: 600;
        padding-top: 40px;
        background-color: rgb(179, 220, 230);
        display: flex;
        flex-direction:column;
        align-items: center;
        }
        .sidebar nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        }
        .sidebar nav a {
            padding:20px;
            font-size: 24px;
            font-family: "Exo 2", sans-serif;
            font-weight: 600;
            text-decoration: none;
            color: black;
        }
    
    .profile-img {
        width:250px;
        height:250px;
        border-radius: 50%;
        object-fit:cover;
        margin-top:3%;
        margin-bottom:20px;
        border: 3px solid #ccc;
        display: block;
    }

    .box {
        width: 700px;
        height: 240px;
        margin: 10px;
        padding: 25px;
        border: 2px solid black;
        font-size: 50px;
        font-family: "Exo 2", sans-serif;
        font-weight: 600;
        margin-left:35%;
    }
}