body{
    h1{
        font-family: "Exo 2", sans-serif;
        font-optical-sizing: auto;
        font-weight: 900;
        font-size:100px;
        font-style: normal;
        margin-top:4.5%;
        margin-left:35%;
    }

    h2{
        font-family: "Exo 2", sans-serif;
        font-optical-sizing: auto;
        font-weight: 700;
        font-size:50px;
        font-style: normal;
    }

    h3 {
        font-family: "Exo 2", sans-serif;
        font-optical-sizing: auto;
        font-weight: 700;
        font-size:50px;
        font-style: normal;
    }

    p {
        font-family:"Exo 2", sans-serif;
        font-weight:700;
        font-size: 50px;
        margin-left:35.5%;
        margin-top:-3%;
        color:rgb(4, 121, 175);
        line-height:1.5;
    }

    a{
        display:block;
        font-family: "Exo 2", sans-serif;
        font-optical-sizing: auto;
        font-weight: 700;
        font-size:50px;
        font-style: normal;
        text-decoration: none;
        color:black;
        margin-bottom: 30px;
    }

    .github:hover {
        color:rgb(4, 121, 175);
        text-decoration: underline;
        transition:0.2s;
    }

    .linkedin:hover {
        color:rgb(4, 121, 175);
        text-decoration: underline;
        transition:0.2s;
    }

    .sidebar {
        height: 100%;
        width: 30%;
        position: fixed;
        left: 0;
        top: 0;
        font-family: "Exo 2", sans-serif;
        font-weight: 600;
        padding-top: 40px;
        background-color: rgb(179, 220, 230);
        display: flex;
        flex-direction:column;
        align-items: center;
        }
        .sidebar nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        }
        .sidebar nav a {
            padding:20px;
            font-size: 24px;
            font-family: "Exo 2", sans-serif;
            font-weight: 600;
            text-decoration: none;
            color: black;
        }

        .sidebar nav a:hover {
            text-decoration:underline;
            color:aliceblue;
            transition:0.1s;
            transform: scale(1.3);
        }
    
    .profile-img {
        width:250px;
        height:250px;
        border-radius: 50%;
        object-fit:cover;
        margin-top:3%;
        margin-bottom:20px;
        border: 3px solid #ccc;
        display: block;
    }

    .categories {
        gap:2px;
        margin-left: 35%;  
        display:flex;
        flex-direction: column;
        align-items: flex-start;    
    }

    .categories h3 {
    margin-bottom: 200px; 
    margin-top: 0px;
    margin-left: 10px;
    }

    .box1 {
        width: 700px;
        height: 240px;
        margin: 10px;
        padding: 25px;
        border: 2px solid black;
        font-size: 50px;
        font-family: "Exo 2", sans-serif;
        font-weight: 600;
        margin-left:35%;
    }

    .box2 {
        width: 800px;
        height: 200px;
        padding: 25px;
        border: 2px solid black;
        font-size: 50px;
        font-family: "Exo 2", sans-serif;
        font-weight: 600;
        margin-top: -3%;
        margin-left:35%;
    }

    .box3 {
        width: 800px;
        height: 350px;
        padding: 25px;
        border: 2px solid black;
        font-size: 50px;
        font-family: "Exo 2", sans-serif;
        font-weight: 600;
        margin-top: 8%;
        margin-left:35%;
    }

    .box4 {
        width: 800px;
        height: 350px;
        padding: 25px;
        border: 2px solid black;
        font-size: 50px;
        font-family: "Exo 2", sans-serif;
        font-weight: 600;
        margin-top: 10%;
        margin-bottom: 200px;
        margin-left:35%;
    }

    .box5 {
        width: 800px;
        height: 200px;
        padding: 25px;
        border: 2px solid black;
        font-size: 50px;
        font-family: "Exo 2", sans-serif;
        font-weight: 600;
        margin-top: 9%;
        margin-left:35.5%;
    }

    .box6 {
        width: 800px;
        height: 350px;
        padding: 25px;
        border: 2px solid black;
        font-size: 50px;
        font-family: "Exo 2", sans-serif;
        font-weight: 600;
        margin-top: 8%;
        margin-left:35.5%;
    }

    .box7 {
        width: 800px;
        height: 350px;
        padding: 25px;
        border: 2px solid black;
        font-size: 50px;
        font-family: "Exo 2", sans-serif;
        font-weight: 600;
        margin-top: 9%;
        margin-left:35.5%;
        margin-bottom:10%;
    }
    
    .education {
        position: absolute;
        bottom: 220px;
        left: 510px;
    }

    .interests {
        position: absolute;
        top: 1000px;
        left: 510px;
    }

    .language {
        position: absolute;
        top:200px;
        left:520px;
    }

    .clubsandactivities {
        position:absolute;
        top:565px;
        left:520px;
    }

    .workandinternship {
        position:absolute;
        top:1100px;
        left:520px;
    }

    .phone, .email, .github, .linkedin {
        margin-left:35.5%;
    }

}